<main class="text-white w-full">
    <section class="w-full h-screen bg-fixed overflow-hidden bg-cover bg-entrance bg-center snap-end relative z-50">
        <div class="bg-black opacity-25 absolute left-0 top-0 w-full h-full"></div>
        <div id="" class="text-darkWhite h-full w-screen md:w-max flex flex-row items-center mx-auto md:mr-auto md:ml-2/20 lg:ml-4/20 xl:ml-5/20">
            <h2 class="drop-shadow-ecuries hidden md:block relative font-oswald uppercase text-8xl italic mx-auto pr-3/20">écuries<span class="absolute w-max -bottom-24 left-5/20 lg:left-8/20 xl:left-14/20">de persévère</span></h2> <!-- "Grand" écran -->
            <h2 class="drop-shadow-ecuries relative md:hidden font-oswald uppercase text-7xl text-center italic mx-auto">écuries<br>de persévère</h2> <!-- Petit écran -->
        </div>
    </section>
    <section class="w-full h-screen px-1/20 md:px-4/20 bg-fixed overflow-hidden pt-12 md:pt-0 bg-cover bg-wood snap-center bg-bottom">
        <div class="h-full pt-24 space-y-16">
            <h2 class="text-black font-oswald font-bold -rotate-6 text-4xl md:text-5xl drop-shadow-blackTitle">Notre ligne de conduite</h2>
            <div class="citation relative h-max w-18/20 mx-auto">
                <b></b>
                <b></b>
                <b></b>
                <div class="bg-citation-bg border-4 border-brown p-10">
                    <p class="font-playfair text-center text-lg italic leading-loose m-0"><span class="text-3xl"> " C</span>haque cheval possède des qualités, peu importe sa race, ses origines, ou sa discipline, il suffit juste de prendre le temps d'écouter et de regarder pour trouver une solution adaptée. <span class="text-3xl">"</span></p>
                    <p class="font-oswald font-thin text-right">Karine MASSOT</p>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full h-screen bg-fixed overflow-hidden pt-16 md:pt-0 bg-cover bg-wood snap-center bg-bottom relative">
        <div class="bg-gradient-to-b from-black to-white opacity-20 absolute left-0 top-0 w-full h-full z-0"></div>
        <div class="h-full px-1 py-10 items-center space-y-10 z-10 relative">
            <h2 class="font-oswald text-5xl text-center drop-shadow-blackTitle">Présentation des écuries</h2>
            <iframe class="mx-auto w-full md:w-16/20 lg:w-14/20 xl:w-14/20 2xl:w-12/20" src="https://www.youtube.com/embed/xl9Yt_wpBtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</main>