<main class="text-white w-full">
    <section class="flex flex-row-reverse w-full h-screen bg-fixed overflow-hidden bg-cover bg-[url('/assets/imgs/prestas/first.jpg')] bg-center md:snap-end sm:md:snap-none relative z-50 pt-24">
        <div class="bg-citation-bg border-white border-2 p-6 w-5/20 mr-3/20 h-max flex flex-col gap-5">
            <h3 class="text-2xl text-green font-oswald font-thin tracking-widest text-center">Travail du cheval<br>& enseignement</h3>
            <hr class="border-green">
            <div class="text-sm text-white font-playfair flex flex-col gap-5 text-center">
                <p>Nous accueillons des chevaux et des cavaliers de toutes origines, tous horizons et toutes disciplines :</p>
                <p class="text-left text-darkWhite italic text-base">Nous n'avons de limite dans notre travail que :</p>
                <ul class="text-darkWhite text-base italic flex flex-col gap-5 text-left list-base">
                    <li>la limite de notre propre expérience et connaissance, que nous saurons annoncer si nous y sommes confrontés.</li>
                    <li>les capacités physique et mentale de votre cheval, que nous n'agresserons jamais</li>
                    <li>votre propre imagination.</li>
                </ul>
                <p>Alors proposez-nous tous vos défis et nous y répondrons de notre mieux ou nous saurons vers quel autre  professionnel vous orienter !</p>
            </div>
        </div>
    </section>
    <section class="md:snap-start text-black bg-wood bg-fixed bg-cover bg-bottom overflow-y-auto">
        <h3 class="uppercase text-5xl text-center font-helvetica font-bold py-10 drop-shadow-blackTitle">Pour qui ?</h3>
        <div id="who" class="flex flex-col md:flex-row flex-nowrap w-full font-playfair">
            <div class="drop-shadow-work bg-[url('/assets/imgs/work/left.png')]   overflow-y-hidden bg-cover w-19/20 md:w-1/3 border-2 border-darkWhite relative">
                <div class="h-full w-full absolute top-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 top-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center text-green w-full font-normal font-oswald">Vos compagnons</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-2 opacity-0 duration-500">
                    <h5 class="text-3xl text-center text-green font-oswald">Pour vos compagnons</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc text-white">
                        <li>Débourrage des poulains ou chevaux ayant eu un débourrage raté.</li>
                        <li>Chevaux maltraités ou traumatisés (accident, phobie, etc.)</li>
                        <li>Chevaux mal éduqués ou agressifs.</li>
                        <li>Résolution de différents problèmes comportementaux gênants : mauvaise gestion des émotions, embarquement et débarquement, respect en main, difficulté d'approche, tonte, couverture, seringues, etc.</li>
                        <li>Rééducation physique.</li>
                    </ul>
                </div>
            </div>
            <div class="drop-shadow-work bg-[url('/assets/imgs/work/center.png')]  overflow-y-hidden bg-cover w-19/20 md:w-1/3 border-2 border-darkWhite relative text-citation-bg">
                <div class="h-full w-full absolute left-0 top-0 bg-light-green/80">
                    <div class="h-full w-full absolute flex flex-row items-center top-0 left-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center w-full font-normal font-oswald">Votre couple cheval/cavalier</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-2 opacity-0 duration-500">
                    <h5 class="text-3xl text-center font-oswald">Pour votre couple</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc">
                        <li>Préparation physique et/ou mentale pour la compétition ou le loisir.</li>
                        <li>Complément de dressage plus avancé.</li>
                        <li>Optimisation de la relation cheval/cavalier.​</li>
                        <li>Nous vous proposons un accompagnement adapté à vos objectifs et la personnalité de votre couple cheval/cavalier, pour une optimisation de vos résultats en compétition.</li>
                    </ul>
                </div>
            </div>
            <div class="drop-shadow-work bg-[url('/assets/imgs/work/right.png')]   overflow-y-hidden bg-cover w-19/20 md:w-1/3 border-2 border-darkWhite relative">
                <div class="h-full w-full absolute top-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 top-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center text-green w-full font-normal font-oswald">Vous même</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-2 opacity-0 duration-500">
                    <h5 class="text-3xl text-center text-green font-oswald">Pour vous même</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc text-white">
                        <li>Leçons (à pied ou monté).</li>
                        <li>Stages dans nos écuries ou à domicile.</li>
                        <li>Travail suivi tout au long de l'année avec votre cheval pour une évolution en compétition ou pour le loisir.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="md:snap-start text-black bg-wood bg-fixed bg-cover bg-bottom flex flex-col">
        <h3 class="uppercase text-5xl text-center font-helvetica font-bold py-10 drop-shadow-blackTitle">NOS FORMULES & TARIFS</h3>
        <div class="flex flex-row flex-nowrap w-full font-playfair md:snap-center">
            <div class="w-1/2 flex flex-row flex-nowrap">
                <div class="w-1/2 bg-[url('/assets/imgs/work/pension1.jpg')] bg-cover"></div>
                <div class="w-1/2 bg-citation-bg bg-center text-darkWhite p-9 space-y-5">
                    <div class="px-9">
                        <h4 class="text-green text-5xl font-oswald font-extralight uppercase">Pension</h4>
                        <h5 class="text-light-green text-4xl font-oswald font-extralight text-right">Parc Abri</h5>
                    </div>
                    <p class="text-justify">Les chevaux sont logés en parc avec abri. Ils sont en groupe suivant les possibilités, les demandes et les affinités.</p>
                    <p class="text-justify">Les parcs sont nettoyés 4 à 6x/semaine.</p>
                    <p class="text-justify">Les chevaux sont nourris au foin à volonté dans des filets à foin petites mailles, un CMV adapté est laissé à leur disposition et un complément en floconné peut être apporté si besoin.</p>
                    <p class="text-justify">Le prix de la pension comprends l'accès à la totalité des installations, la gestion et l'entretien quotidien.</p>
                    <p class="text-xl text-green font-oswald font-extralight text-center"><span class="text-4xl">352€</span> hors options</p>
                </div>
            </div>
            <div class="w-1/2 flex flex-row flex-nowrap">
                <div class="w-1/2 bg-[url('/assets/imgs/work/pension2.jpg')] bg-cover"></div>
                <div class="w-1/2 bg-citation-bg bg-center text-darkWhite p-9 space-y-5">
                    <div class="px-9">
                        <h4 class="text-green text-5xl font-oswald font-extralight uppercase">Pension</h4>
                        <h5 class="text-light-green text-4xl font-oswald font-extralight text-right">Box Paddock</h5>
                    </div>
                    <p class="text-justify">Pour les séjours courts et/ou les rééducations UNIQUEMENT, des boxes sont disponibles.</p>
                    <p class="text-justify">Les chevaux sont alors logés en boxes avec possibilité de les mettre au parc selon les besoins.</p>
                    <p class="text-justify">Les boxes sont nettoyés 7/7j.</p>
                    <p class="text-justify">L'alimentation prend en compte le régime alimentaire habituel (et les recommandations vétérinaires au besoin) de l'animal afin de ne pas engendrer de perturbations supplémentaires lors de sa visite.</p>
                    <p class="text-xl text-green font-oswald font-extralight text-center"><span class="text-4xl">462€</span> hors options</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-black bg-wood bg-fixed bg-cover bg-bottom py-20">
        <div id="formulas" class="flex flex-row flex-wrap font-playfair justify-center gap-5 w-14/20 mx-auto">
            <div class="drop-shadow-work w-9/20 md:snap-center overflow-y-hidden bg-cover border-2 border-darkWhite relative bg-[url('/assets/imgs/work/formula-1.webp')]">
                <div class="h-full w-full absolute bottom-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 bottom-0 duration-500">
                        <h4 class="text-5xl drop-shadow-text text-center text-green w-full font-normal font-oswald uppercase">Travail du cheval<br>& leçons</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -bottom-32 p-4 space-y-2 opacity-0 duration-500 text-white text-sm text-justify">
                    <h5 class="text-3xl text-center text-green font-oswald">Travail du cheval</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                    <p class="text-center">de 120€ à 324€</p>
                    
                    <h5 class="text-3xl text-center text-green font-oswald">Leçons</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.</p>
                    <p class="text-center">de 35€ à 45€  pour les cours seuls</p>
                    <p class="text-center">27€ / cavalier pour les cours en doubles</p>
                </div>
            </div>
            <div class="drop-shadow-work w-9/20 md:snap-center overflow-y-hidden bg-cover border-2 border-darkWhite relative bg-[url('/assets/imgs/work/formula-2.webp')]">
                <div class="h-full w-full absolute bottom-0 left-0 bg-light-green/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 bottom-0 duration-500">
                        <h4 class="text-5xl drop-shadow-text text-center w-full font-normal font-oswald uppercase">Débourrage &<br>Rééducation Comportementale</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -bottom-32 p-4 space-y-2 opacity-0 duration-500 text-citation-bg text-sm text-justify">
                    <h5 class="text-3xl text-center font-oswald">Débourrage</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>Le débourrage est une phase importante dans la vie du cheval et construira sa relation à l'homme pour le reste de sa vie.</p>
                    <p>Le débourrage comprend de l'éducation à pied : Attache, brosses, donner les 4 pieds, accepter l'arnachement et le chargement en van. De l'éducation monté : Être capable de travailler aux 3 allures seul ou à plusieurs en carrière et en extérieur.</p>
                    <p>Le tarifs comprend le bilan d'entrée et de sortie, la pension et le travail du cheval.</p>
                    <p class="text-center">755€/mois</p>

                    <h5 class="text-3xl text-center font-oswald">Rééducation comportementale</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>La rééducation comportementale ne commence qu'après une visite de Karine sur site afin de définir clairement tous les aspects de la vie de votre cheval ainsi que la problématique.</p>
                    <p>Le tarifs comprend le bilan d'entrée et de sortie, la pension et le travail du cheval.</p>
                    <p class="text-center">830€/ les 2 premiers mois puis 650€/mois</p>
                </div>
            </div>
            <div class="drop-shadow-work w-9/20 md:snap-center overflow-y-hidden bg-cover border-2 border-darkWhite relative bg-[url('/assets/imgs/work/formula-3.webp')]">
                <div class="h-full w-full absolute bottom-0 left-0 bg-light-green/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 bottom-0 duration-500">
                        <h4 class="text-5xl drop-shadow-text text-center w-full font-normal font-oswald uppercase">Bilan Complet</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -bottom-32 p-4 space-y-2 opacity-0 duration-500 text-citation-bg text-sm text-justify"> 
                    <h5 class="text-3xl text-center font-oswald">Le bilan complet</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>C'est une évaluation complète sur 3 jours du couple cheval / cavalier sous tous ces aspects, à un instant T, par une équipe de professionnels rigoureusement choisis.</p>
                    <p>Cela vous permet de faire un état des lieux et de repartir avec des conseils et des pistes de travail, que vous êtes libre de mettre en oeuvre à nos cotés ou avec les pros qui vous encadrent.</p>
                    <p>Le bilan comprend : Maréchalerie, Dentisterie, Ostéo/Kiné, Energétique et Communication Animale, Alimentation, Tests de tempérament, relation à l'environnement, Comportement, saddle-fitting, Education à pied et monté, Relation cheval/cavalier.</p>
                    <p class="text-center">300€</p>
                </div>
            </div>
            <div class="drop-shadow-work w-9/20 md:snap-center overflow-y-hidden bg-cover border-2 border-darkWhite relative bg-[url('/assets/imgs/work/formula-1.webp')]">
                <div class="h-full w-full absolute bottom-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 bottom-0 duration-500">
                        <h4 class="text-5xl drop-shadow-text text-center text-green w-full font-normal font-oswald uppercase">Pension convalescence<br>& Rééducation physique</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -bottom-32 p-4 space-y-2 opacity-0 duration-500 text-white text-sm text-justify">
                    <h5 class="text-3xl text-center text-green font-oswald">Pension convalescence & Rééducation physique</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <p>Suivant les besoins et les préconisations vétérinaires, les chevaux sont logés en boxes individuels et peuvent être sortis au paddock quotidiennement.</p>
                    <p>Ils sont, si nécessaire suivi par un ou plusieurs membres de notre équipe. Un travail spécialisé à pied ou monté (Trotting avec dénivelés et/ou passage en eau peu profonde, marcheur, ceinture de massage par vibrations, massage à l'eau, séances de pédiluve, de cryothérapie et solarium) peut également venir compléter leur rééducation. </p>
                    <p>Notre équipe ayant une grande expérience de la musculation et de la locomotion des chevaux, nous vous garantissons un travail de précision pour le bien être de votre cheval.</p>
                    <p class="text-right">Tarifs sur devis</p>
                </div>
            </div>
        </div>
    </section>
</main>