<main class="text-white w-full">
    <section class="flex flex-row-reverse w-full h-screen bg-fixed overflow-hidden bg-cover bg-prestas bg-center snap-end sm:snap-none relative z-50 pt-24">
        <div class="bg-citation-bg border-white border-2 p-6 w-5/20 mr-3/20 h-max flex flex-col gap-5">
            <h3 class="text-2xl text-green font-oswald font-thin tracking-widest text-center">Travail du cheval<br>& enseignement</h3>
            <hr class="border-green">
            <div class="text-sm text-white font-playfair flex flex-col gap-5 text-center">
                <p>Nous accueillons des chevaux et des cavaliers de toutes origines, tous horizons et toutes disciplines :</p>
                <p class="text-left text-darkWhite italic text-base">Nous n'avons de limite dans notre travail que :</p>
                <ul class="text-darkWhite text-base italic flex flex-col gap-5 text-left list-base">
                    <li>la limite de notre propre expérience et connaissance, que nous saurons annoncer si nous y sommes confrontés.</li>
                    <li>les capacités physique et mentale de votre cheval, que nous n'agresserons jamais</li>
                    <li>votre propre imagination.</li>
                </ul>
                <p>Alors proposez-nous tous vos défis et nous y répondrons de notre mieux ou nous saurons vers quel autre  professionnel vous orienter !</p>
            </div>
        </div>
    </section>
    <section class="snap-start text-black bg-wood">
        <h3 class="uppercase text-5xl text-center font-helvetica font-bold py-10 drop-shadow-title">Pour qui ?</h3>
        <div id="who" class="flex flex-row flex-nowrap w-full font-playfair">
            <div class="bg-left-bg   overflow-y-hidden bg-cover w-1/3 border-2 border-darkWhite relative">
                <div class="h-full w-full absolute top-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 top-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center text-green w-full font-normal font-oswald">Vos compagnons</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-12 opacity-0 duration-500">
                    <h5 class="text-3xl text-center text-green font-oswald">Pour vos compagnons</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc text-white">
                        <li>Débourrage des poulains ou chevaux ayant eu un débourrage raté.</li>
                        <li>Chevaux maltraités ou traumatisés (accident, phobie, etc.)</li>
                        <li>Chevaux mal éduqués ou agressifs.</li>
                        <li>Résolution de différents problèmes comportementaux gênants : mauvaise gestion des émotions, embarquement et débarquement, respect en main, difficulté d'approche, tonte, couverture, seringues, etc.</li>
                        <li>Rééducation physique.</li>
                    </ul>
                </div>
            </div>
            <div class="bg-center-bg overflow-y-hidden bg-cover w-1/3 border-2 border-darkWhite relative text-citation-bg">
                <div class="h-full w-full absolute left-0 top-0 bg-light-green/80">
                    <div class="h-full w-full absolute flex flex-row items-center top-0 left-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center w-full font-normal font-oswald">Votre couple cheval/cavalier</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-12 opacity-0 duration-500">
                    <h5 class="text-3xl text-center font-oswald">Pour votre couple</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc">
                        <li>Préparation physique et/ou mentale pour la compétition ou le loisir.</li>
                        <li>Complément de dressage plus avancé.</li>
                        <li>Optimisation de la relation cheval/cavalier.​</li>
                        <li>Nous vous proposons un accompagnement adapté à vos objectifs et la personnalité de votre couple cheval/cavalier, pour une optimisation de vos résultats en compétition.</li>
                    </ul>
                </div>
            </div>
            <div class="bg-right-bg  overflow-y-hidden bg-cover w-1/3 border-2 border-darkWhite relative">
                <div class="h-full w-full absolute top-0 left-0 bg-citation-bg/80">
                    <div class="h-full w-full flex flex-row items-center absolute left-0 top-0 duration-500">
                        <h4 class="text-6xl drop-shadow-text text-center text-green w-full font-normal font-oswald">Vous même</h4>
                    </div>
                </div>
                <div class="h-full absolute flex-col left-0 -top-32 py-10 px-14 space-y-12 opacity-0 duration-500">
                    <h5 class="text-3xl text-center text-green font-oswald">Pour vous même</h5>
                    <hr class="border-white border-1 w-4/20 left-0 right-0 mx-auto">
                    <ul class="list-disc text-white">
                        <li>Leçons (à pied ou monté).</li>
                        <li>Stages dans nos écuries ou à domicile.</li>
                        <li>Travail suivi tout au long de l'année avec votre cheval pour une évolution en compétition ou pour le loisir.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>