<main class="text-white w-full">
  <section class="flex flex-col w-full h-[75vh] overflow-hidden snap-start">
      <div id="caroussel" class=" h-full relative" data-nb="0">
        <div class="duration-1000 absolute top-0 left-0 flex bg-cover w-full h-full bg-[url('/assets/imgs/philo/work/pWork_3.jpg')] bg-center flex-col justify-around">
          <div class="border-4 border-dark w-[300px] mx-6/20 shadow-pWork">
            <div class="bg-citation-bg border-white border-2 p-2 pb-8 w-full h-max flex flex-col gap-5">
              <h3 class="text-xl text-green font-oswald font-thin tracking-widest text-center uppercase">ma philosophie de travail</h3>
              <hr class="border-green w-13/20 mx-auto">
              <div class="text-white font-playfair flex flex-col gap-5 text-center text-base">
                <div class="my-8">
                  <p class="text-2xl">Qu'est ce que l'éthologie ?</p>
                  <p class="text-2xl">Et un éthologue ?</p>
                </div>
                <div class="italic leading-5 font-baskerville">
                  <p>En effet l'éthologie est, selon sa définition, une science :<br>
                    ...</p>
                </div>
                <button class="text-green w-max py-1 px-4 duration-200 mx-auto rounded-md hover:text-citation-bg hover:bg-green hover:font-medium">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="duration-1000 absolute top-0 left-full flex bg-cover w-full h-full bg-[url('/assets/imgs/philo/work/pWork_1.jpg')] bg-center flex-col justify-around">
          <div class="border-4 border-dark w-[300px] mx-6/20 shadow-pWork">
            <div class="bg-citation-bg border-white border-2 p-2 pb-8 w-full h-max flex flex-col gap-5">
              <h3 class="text-xl text-green font-oswald font-thin tracking-widest text-center uppercase">ma philosophie de travail</h3>
              <hr class="border-green w-13/20 mx-auto">
              <div class="text-white font-playfair flex flex-col gap-5 text-center text-base">
                <div class="my-8">
                  <p class="text-2xl">Qui suis-je ?</p>
                </div>
                <div class="italic text-justify leading-5 font-baskerville">
                  <p>Ayant de nombreuses années d'expériences en dressage et ayant eu la chance de me former avec de nombreux grands cavaliers classiques.<br><br>
                    Je suis...</p>
                </div>
                <button class="text-green w-max py-1 px-4 duration-200 mx-auto rounded-md hover:text-citation-bg hover:bg-green hover:font-medium">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
        <div class="duration-1000 absolute top-0 left-full flex bg-cover w-full h-full bg-[url('/assets/imgs/philo/work/pWork_2.jpg')] bg-center flex-col justify-around">
          <div class="border-4 border-dark w-[300px] mx-11/20 shadow-pWork">
            <div class="bg-citation-bg border-white border-2 p-2 pb-8 w-full h-max flex flex-col gap-5">
              <h3 class="text-xl text-green font-oswald font-thin tracking-widest text-center uppercase">ma philosophie de travail</h3>
              <hr class="border-green w-13/20 mx-auto">
              <div class="text-white font-playfair flex flex-col gap-5 text-center text-base">
                <div class="my-8">
                  <p class="text-2xl">Comment j'appréhende mon travail ?</p>
                </div>
                <div class="italic leading-5 font-baskerville text-justify">
                  <p>Depuis maintenant 6 ans j’ai la chance de rencontrer des couples venant de tous les horizons et de toutes les disciplines.<br>
                    Chaque rencontre, chaque humain et chaque cheval a été un enrichissement personnel et professionnel !</p>
                </div>
                <button class="text-green w-max py-1 px-4 duration-200 mx-auto rounded-md hover:text-citation-bg hover:bg-green hover:font-medium">En savoir plus</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </section>
  <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom">
      <div class="bg-white/70 w-full snap-end">
          <div class="text-xl font-playfair flex flex-col gap-y-5 w-13/20 mx-auto pt-10 pb-10">
              <h3>Qu'est ce que l'éthologie ? Un éthologue ?</h3>
              <p>En effet l'éthologie est, selon sa définition, une science :</p>
              <p>"Biologie comparée des comportements des espèces dans leur milieu naturel (respect des exigences qui constituent le biotope de l'espèce considérée). Elle demande des connaissances approfondies en biologie animale, en génétique, en neurophysiologie. D'autre part, nous ne pouvons faire de l'éthologie sur une seule espèce. En effet, il n'est pas possible de comprendre le comportement d'un cheval ou d'un autre animal si nous ne possédons pas déjà une connaissance en éthologie fondamentale et une connaissance de l'évolution des comportements liées à l'évolution du vivant. [...] L'éthologie est une science d'observation et non une science d'intervention sur l'animal. Ce n'est donc pas une méthode de dressage ou d'éducation."  </p>
              <p>source Station pluridisciplinaire de Metz.</p>
              <p>Par conséquent, "Quelle que soit leur formation équestre, ne sont donc Ethologues que les personnes pouvant justifier de l'un des diplômes ou équivalences nécessaires pour devenir professeur des universités ou maître de conférences et ne devraient être qualifiées de Comportementalistes équins que celles ayant obtenu au minimum un Diplôme Universitaire en éthologie équine". source Equiref.com</p>
              <p>Tout comme je rajouterai, qu'un vétérinaire, aussi compétant soit-il, n'est spécialisé en comportement qu'après avoir suivi une formation spécifique en zoopsychiatrie.</p>
              <p>"Tout professionnel, ne pouvant justifier de ces qualifications est un "cavalier professionnel", "chuchoteur", "behaviouriste" ou "éducateur équin" [ndlr selon ses compétences et spécificités], c'est un professionnel qui, dans son propre métier, a développé des pratiques et méthodes de travail "non traditionnelles", influencées notamment par des horsemen réputés (chuchoteurs ou nouveaux maîtres) ou ceux qui, en Europe, ont développé des méthodes s'en inspirant." source Equiref.com</p>
              <p>Cela ne signifie pas pour autant qu'ils sont tous incompétents ou ne possèdent pas les connaissances ou l'expérience nécessaire pour vous venir en aide à vous et votre cheval, mais qu'ils n'appartiennent pas à la même catégorie de professionnels.</p>
              <p>En outre, si un cavalier professionnel ou un éducateur équin n'est ni un Ethologue ni un Comportementaliste, et par conséquent n'est pas en mesure de dresser un bilan comportemental complet de votre cheval, la réciproque est vraie, le travail d'un éthologue n'est pas de dresser ou éduquer un cheval !!</p>
              <p>A chacun son métier.</p>
              <p>Pour en savoir plus sur le monde de la science Ethologique, je vous invite à visiter le site d'Hélène ROCHE :  Ethologie-cheval.fr</p>
          </div>
      </div>
  </section>
</main>