<main class="text-white w-full">
  <section class="flex flex-row-reverse items-center w-full h-screen 2xl:h-[80vh] overflow-hidden snap-start bg-cover bg-fixed bg-[url('/assets/imgs/philo/natural/bg1.webp')] bg-center">
    <div class="border-4 border-dark w-[375px] h-14/20 mx-3/20 shadow-pWork">
      <div class="bg-citation-bg border-white border-2 w-full h-full flex flex-col gap-5 px-2 pt-5 pb-20">
        <h3 class="tracking-[0.2em] text-2xl text-green font-oswald font-thin text-center">CONFORTABLE NATURAL<br>LIFE PADDOCK ©</h3>
        <hr class="border-green w-15/20 mx-auto">
        <p class="text-lg text-white font-playfair text-justify italic px-5 pt-10 font-medium tracking-[0.02em]">Le bien être des chevaux au sein de notre structure, qu'ils nous appartiennent ou nous soient confiés par leur propriétaire est une constante préoccupation pour notre équipe.</p>
      </div>
    </div>
  </section>
  <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom">
    <div class="bg-white/70 w-full min-h-max overflow-y-auto">
      <div class="text-xl font-playfair flex flex-col gap-y-5 w-12/20 h-full mx-auto font-extralight text-justify py-12">
        <p class="font-bold">Nous nous efforçons, dans notre organisation comme dans nos installations, de subvenir au mieux aux besoins fondamentaux du cheval, dans le but de respecter leur éthogramme naturel et les 5 libertés du bien être animal.</p>
        <div>
          <p class="text-center">"Bien que la domestication soit elle-même une atteinte à l'intégrité du cheval,<br>
            il nous appartient de rester au plus proche de ce que sa nature préconise afin d'en faire<br>
            un collaborateur épanoui plutôt qu'un esclave soumis"
          </p>
          <p class="italic text-justify">Source Débourrage : l'école du cheval par Guillaume Antoine.</p>
        </div>
        <p>C'est avec ce souhait et à partir de nos formations, nos expériences que l'aventure du "Comfortable Natural Life Paddock" © est née. <br>
          A l'origine de ce projet vous trouverez Marie LE BECHEC (Un Amour de Cheval) et Karine MASSOT (Ecurie de Persévère), toutes deux formées en Ethologie à l'université de Rennes 1.</p >
      </div>
    </div>
  </section>
  <section class="snap-center text-black flex flex-row items-stretch w-screen min-h-[75vh] h-max text-base font-playfair">
    <div class="w-1/3 flex flex-col gap-8 px-28 py-12 bg-citation-bg text-white">
      <h3 class="font-oswald font-light text-center text-light-brown text-4xl">Qu'est ce qu'un CNL ?</h3>
      <div class="gap-5 flex flex-col">
        <p class="text-justify">Marie et moi souhaitions proposer à nos chevaux un système d'hébergement permettant de répondre au mieux à leurs besoins fondamentaux sans mettre de côté les problèmes d'entretien quotidien qui incombent à l'être humain.<br>
          Les Comfortable Natural Life Paddock © (CNL) ont comme point de départ et ligne de conduite L'OBSERVATION DU CHEVAL et L'ADAPTABILITE du concept aux chevaux qui y habitent, aux humains qui le gèrent et à l'environnement qui l'accueille.
        </p>
        <p class="text-justify"><span class="ml-9 font-bold">Le but, proposer aux chevaux un hébergement au sein duquel ils sont acteurs !</span><br>
          Certains fondamentaux mis en avant par les recherches scientifiques, et également utilisés par les concepts de paddocks paradises et  d'écuries actives, servent de postulat de base aux CNL.<br>
          Cependant, l'observation quotidienne de la vie et des comportements du groupe mènent l'humain à modifier le lieu de vie qu'il leurs propose.
        </p>
        <p class="text-center font-bold">Il n'y aura donc pas deux CNL identiques !!</p>
      </div>
    </div>
    <div class="w-1/3 flex flex-col gap-8 px-28 py-12 bg-light-green text-brown">
      <h3 class="font-oswald font-light text-center text-brown text-4xl">Pourquoi CNL ?</h3>
      <div class="gap-5 flex flex-col">
        <p class="text-justify">Marie est à l'origine du nom de ce concept. Elle souhaitait que ce dernier reflète les qualités que nous recherchions dans ce projet.</p>
        <ul class="list-base pl-6 pt-3 gap-4 flex flex-col">
          <li><span class="underline font-bold">Comfortable</span> : Des zones de vies différentes et aménagées avec des équipements novateurs garantissant le confort de vie pour les chevaux et le confort de gestion pour l'être humain (stabilisation des sols sur les zones très sollicités, aires de couchages sèches, propres et facile d'entretien).</li>
          <li><span class="underline font-bold">Natural</span> : des conditions de vies presque semi-naturelles.</li>
          <li><span class="underline font-bold">Life</span> : L'animal est remis à sa place, il peut VIVRE SA VIE ! Il n'est plus pris au piège par des artifices crées par l'homme. Mais également le respect du vivant au sein de l'espace occupé par les groupes. C'est à dire, avoir une gestion éco-responsable de l'environnement et son écosystème.</li>
        </ul>
      </div>
    </div>
    <div class="w-1/3 flex flex-col gap-8 px-28 py-12 bg-citation-bg text-white">
      <h3 class="font-oswald font-light text-center text-light-brown text-3xl">Quelles différences entre CNL et les concepts déjà utilisés ?</h3>
      <div class="gap-5 flex flex-col">
        <p class="text-justify">Comme beaucoup de personnes nous nous sommes penchés sur les concepts du "paddock paradise" et de "l'écurie active". Ceux ci possèdent de nombreuses et indéniables qualités. En premier lieu, celle de rechercher le bien-être des chevaux par la mise en pratique des publications scientifiques.<br>
          Nous sommes en revanche moins conquises par les chartes bien souvent rigides qui régissent ces différents concepts. Qui n'a d'ailleurs jamais été témoin des "chamailleries" maintenant courantes entre les adhérents des différents clans ?<br>
          De notre point de vue, il ne peut y avoir de réel respect des besoins de l'animal lorsque nous lui imposons une idée stricte déjà établie par l'homme (aussi noble et réfléchie soit cette idée).
        </p>
        <p class="text-justify font-bold">Ainsi, avec ce concept nous ne prétendons rien "inventer", ni convaincre personnes que nous faisons mieux que les autres.  En revanche,  nous sommes en accord avec nous même, respectueuses des enseignements qui nous ont été donnés et des valeurs que nous portons.</p>
      </div>
    </div>
  </section>
  <section class="flex flex-row-reverse items-center w-full h-screen 2xl:h-[80vh] overflow-hidden snap-start bg-cover bg-fixed bg-[url('/assets/imgs/philo/natural/bg2.webp')] bg-center">
    <div class="border-4 border-dark w-[375px] h-14/20 mx-3/20 shadow-pWork">
      <div class="bg-citation-bg border-white border-2 w-full h-full flex flex-col gap-5 px-2 pt-5 pb-20">
        <h3 class="tracking-[0.2em] text-2xl text-green font-oswald font-thin text-center">Quelles sont les points<br>de réflexions au sein<br>d'un CNL ?</h3>
        <hr class="border-green w-15/20 mx-auto">
        <p class="text-lg text-white font-playfair text-justify italic px-5 pt-10 font-medium tracking-[0.02em]">Le bien être des chevaux au sein de notre structure, qu'ils nous appartiennent ou nous soient confiés par leur propriétaire est une constante préoccupation pour notre équipe.</p>
      </div>
    </div>
  </section>
  <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom min-h-screen font-playfair text-lg">
    <div class="bg-white/70 w-full h-full min-h-screen pb-10">
      <div class="w-12/20 list-decimal flex flex-col gap-8 py-8 items-center mx-auto text-white">
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">1 - Budget temps</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Le cheval a un cycle dit circadien, ce qui signifie que comme nous, il est établi sur 24H.<br>
                Durant son cycle, le cheval répartit son temps sur l'ensemble de ses activités. C'est ce que nous appelons le budget temps.
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list1.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">2 - L'alimentation</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Elle représente la part la plus importante du budget temps. Il s'agit d'ailleurs d'une des adaptations fondamentales de l'équidé.
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list2.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">3 - L'espace et les déplacements</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Le cheval est un animal de mouvements.<br>
                Ainsi les groupes effectuent de nombreux déplacements au cours de la journée afin de se rendre d'un point d'intérêt à un autre (pâturages, point d'eau, etc.).
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list3.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">4 - Le domaine vital et le concept du 'home range"</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Le domaine vital est l'air spécifique qui englobe la totalité de l'espace utilisé pour les activités quotidiennes d'un groupe.<br>
                Le home rang, c'est la façon dont le groupe organise cette espace.
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list4.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">5 - Le cheval, cet animal sociable</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Même si les interactions sociales sont peu présentes lors du cycle du cheval (moins de 1% de son temps), elles sont importantes à tous les stades de sa vie. De l'apprentissage du poulain, aux vieux chevaux qui se guident entre eux.
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list5.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">6 - L'enrichissement du milieu</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                C'est l'ensemble des activités, alimentaires ou non, proposées aux chevaux pour stimuler leurs sens et leur cognition.<br>
                Il ne faut pas confondre enrichissement et limitation de l'appauvrissement.
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list6.webp" alt="">
          </div>
        </div>
        <div class="rounded-xl nm-flat-citation-bg flex flex-col p-8 gap-5">
          <h3 class="text-4xl text-green font-oswald">7 -  Le respect du vivant</h3>
          <div class="flex flex-row flex-nowrap justify-between">
            <div class="w-7/20 flex flex-col gap-4 pl-9">
              <p>
                Il est presque impossible de dissocier l'animal de son milieu. Ainsi nous souhaitons que la gestion des CNL prenne en considération l'évolution de l'environnement pertinent occupé par le groupe afin qu'il ne le détériore pas. 
              </p>
              <a href="" class="underline self-end">En savoir +</a>
            </div>
            <img class="w-10/20 rounded border-white border-2" src="/assets/imgs/philo/natural/list7.webp" alt="">
          </div>
        </div>
      </div>
      <div class="citation relative h-max w-11/20 mx-auto text-white">
        <b></b>
        <b></b>
        <b></b>
        <div class="bg-citation-bg border-4 border-brown p-5 text-2xl text-center ">
            <p>COMFORTABLE NATURAL LIFE ©....Observer, s'Adapter, Respecter.... pour offrir à votre partenaire la vie qu'il mérite !</p>
        </div>
    </div>
    </div>
  </section>
  </main>