<main class="text-white w-full">
    <section class="flex flex-row-reverse w-full h-screen bg-fixed overflow-hidden bg-cover bg-prestas bg-center snap-end sm:snap-none relative z-50 pt-24">
        <div class="bg-citation-bg border-white border-2 p-6 w-5/20 mr-3/20 h-max flex flex-col gap-5">
            <h3 class="text-2xl text-green font-oswald font-thin tracking-widest text-center">Travail du cheval<br>& enseignement</h3>
            <hr class="border-green">
            <div class="text-sm text-white font-playfair flex flex-col gap-5 text-center">
                <p>Nous accueillons des chevaux et des cavaliers de toutes origines, tous horizons et toutes disciplines :</p>
                <p class="text-left text-darkWhite italic text-base">Nous n'avons de limite dans notre travail que :</p>
                <ul class="text-darkWhite text-base italic flex flex-col gap-5 text-left list-base">
                    <li>la limite de notre propre expérience et connaissance, que nous saurons annoncer si nous y sommes confrontés.</li>
                    <li>les capacités physique et mentale de votre cheval, que nous n'agresserons jamais</li>
                    <li>votre propre imagination.</li>
                </ul>
                <p>Alors proposez-nous tous vos défis et nous y répondrons de notre mieux ou nous saurons vers quel autre  professionnel vous orienter !</p>
            </div>
        </div>
    </section>
    <!-- section>h3+div>(div>h4+div>h3+hr+p)*3 -->
    <section class="snap-start text-black bg-wood">
        <h3 class="uppercase text-5xl">Pour qui ?</h3>
        <div class="flex flex-row flex-nowrap w-full">
            <div>
                <h4 class="text-5xl">Vos compagnons</h4>
                <div>
                    <h5 class="text-3xl">Pour vos compagnons</h5>
                    <hr>
                    <ul class="list-disc">
                        <li>Débourrage des poulains ou chevaux ayant eu un débourrage raté.</li>
                        <li>Chevaux maltraités ou traumatisés (accident, phobie, etc.)</li>
                        <li>Chevaux mal éduqués ou agressifs.</li>
                        <li>Résolution de différents problèmes comportementaux gênants : mauvaise gestion des émotions, embarquement et débarquement, respect en main, difficulté d'approche, tonte, couverture, seringues, etc.</li>
                        <li>Rééducation physique.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h4 class="text-5xl">Votre couple cheval/cavalier</h4>
                <div>
                    <h5 class="text-3xl">Pour votre couple</h5>
                    <hr>
                    <ul class="list-disc">
                        <li>Préparation physique et/ou mentale pour la compétition ou le loisir.</li>
                        <li>Complément de dressage plus avancé.</li>
                        <li>Optimisation de la relation cheval/cavalier.​</li>
                        
                        <li>Nous vous proposons un accompagnement adapté à vos objectifs et la personnalité de votre couple cheval/cavalier, pour une optimisation de vos résultats en compétition.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h4 class="text-5xl">Vous même</h4>
                <div>
                    <h5 class="text-3xl">Pour vous même</h5>
                    <hr>
                    <ul class="list-disc">
                        <li>Leçons (à pied ou monté).</li>
                        <li>Stages dans nos écuries ou à domicile.</li>
                        <li>Travail suivi tout au long de l'année avec votre cheval pour une évolution en compétition ou pour le loisir.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>