@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --dark: #120E01;
    --brown: #65564E;
    --green: #AEC676;
    --beige: rgba(175 ,166 ,154, 0.5);

    --citation-bg: rgb(55 ,45 ,29);
    --brown: rgb(101 ,86 ,78);
    --citation-sides: rgb(146 ,132 ,112);
    --citation-under: rgb(17 ,13 ,1);
}

.-left-full {
    left: -100%;
}

.snap-points-y-50{
    scroll-snap-points-y: repeat(50vh);
}