<main class="text-white w-full">
    <section class="flex flex-row-reverse w-full h-screen bg-fixed overflow-hidden bg-cover bg-[url('/assets/imgs/prestas/stages/first.jpg')] bg-left md:snap-end sm:md:snap-none relative z-50 pt-24">
        <div class="bg-citation-bg border-white border-2 p-6 w-5/20 mx-5 h-max flex flex-col gap-5">
            <h3 class="text-2xl text-green font-oswald font-thin tracking-widest text-center">Stages & Formation</h3>
            <hr class="border-green">
            <div class="text-sm text-white font-playfair flex flex-col gap-5 text-center">
                <p>Comprendre, Apprendre, S'améliorer, Transmettre...</p>
                <p>Quatre mots qui résument la volonté commune qui anime toute l'équipe Persévère.</p>
                <p>Ce sont toutes ces connaissances et cette expérience que nous souhaitons partager avec vous aujourd'hui. Dans le cocon de nos écuries, nous voulons vous donner l'occasion de grandir, vous épanouir et être un peu plus proche du cavalier/propriétaire que vous souhaitez devenir pour votre cheval.</p>
                <p>Vous y trouverez des thèmes variés mais avec toujours le même fil conducteur : le mieux-être équin et la relation homme/cheval.</p>
            </div>
        </div>
    </section>
    <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom">
        <div class="bg-white/70 w-full">
            <div class="w-11/20 mx-auto flex flex-col font-playfair space-y-5">
                <h3 class="text-3xl text-center font-bold pt-10">Planning 2022</h3>
                <p class="text-center text-lg">Restez connectés ! Le planning s'enrichie toute l'année</p>
                <div class="w-full flex flex-row flex-nowrap">
                    <div class="w-1/2 bg-cover bg-left bg-[url('/assets/imgs/prestas/stages/stage1.jpg')]"></div>
                    <div class="w-1/2 bg-backStage flex flex-col text-center p-5 space-y-5">
                        <div class="space-y-10">
                            <h4 class="text-2xl font-oswald relative tracking-widest">Ethologie Scientifique<span class="tracking-normal absolute left-1/2 top-18/20 text-xl font-playfair font-light">Avec Karine Massot</span></h4>
                            <hr class="w-3/20 border-black border-top-2 mx-auto">
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">du 14 au 18 Avril</p>
                            <p>Ethologie scientifiques</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">du 29 Octobre au 02 Novembre</p>
                            <p>Ethologie Scientifique</p>
                            <a href="">Infos</a>
                        </div>
                        <a href="https://www.ecuriesdepersevere.com/_files/ugd/58d19d_6aad2216a13e45f783f0f1995c2b6a56.pdf" target="_blank" rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Inscription Ethologie Scientifique</a>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">7/8 Mai</p>
                            <p>Education et relation homme/cheval</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">15/16 Octobre</p>
                            <p>Education et relation homme/cheval</p>
                            <a href="">Infos</a>
                        </div>
                        <a href="https://www.ecuriesdepersevere.com/_files/ugd/58d19d_2aef7c14d7ee4a4abf2f17443f8731c3.pdf" target="_blank" rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Inscription Education et Relation</a>
                    </div>
                </div>
                <div class="w-full flex flex-row-reverse flex-nowrap snap-center">
                    <div class="w-1/2 bg-cover bg-center bg-[url('/assets/imgs/prestas/stages/stage2.jpg')]"></div>
                    <div class="w-1/2 bg-backStage flex flex-col text-center p-5 space-y-5">
                        <div class="space-y-10">
                            <h4 class="text-2xl font-oswald relative tracking-widest">Communication Animale<span class="tracking-normal absolute left-1/2 top-18/20 text-xl font-playfair font-light">Avec Ophélie Plaà</span></h4>
                            <hr class="w-3/20 border-black border-top-2 mx-auto">
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">12/13 Février</p>
                            <p>Communication animale niveau 1</p>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">23/24 Avril</p>
                            <p>Communication animale niveau 2</p>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">28/29 Mai</p>
                            <p>Communication animale niveau 1</p>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">23 au 25 Juillet</p>
                            <p>Surprise !</p>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">17/18 Septembre</p>
                            <p>Communication animale niveau 2</p>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">22/23 Octobre</p>
                            <p>Communication animale niveau 1</p>
                        </div>
                        <a href="https://www.ophelie-plaa.com/stages" target="_blank" rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Infos et Inscription Communication Animale</a>
                    </div>
                </div>
                <div class="w-full bg-backStage flex flex-col text-center space-y-5">
                    <div class="w-full p-5 flex flex-col text-center space-y-5 snap-center">
                        <div class="space-y-10">
                            <h4 class="text-2xl font-oswald relative tracking-widest">Equitation, Locomotion et Travail du cheval</h4>
                            <hr class="w-3/20 border-black border-top-2 mx-auto">
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">6 Février</p>
                            <p>Longe et locomotion (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">12 Juin</p>
                            <p>Longe et locomotion (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">26 Juin</p>
                            <p>26 Juin 
                            
                            Embarquement et/ou passage en eau peu profonde (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">6 au 10 Juillet</p>
                            <p>Stage à la carte ! (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">6 au 10 Août</p>
                            <p>Stage éducation et pré-débourrage (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <div class="font-playfair">
                            <p class="font-oswald font-medium">11 au 13 Novembre</p>
                            <p>Posture, proprioception et locomotion : Travailler ensemble vers la performance (Avec Karine Massot)</p>
                            <a href="">Infos</a>
                        </div>
                        <a href="https://www.ecuriesdepersevere.com/_files/ugd/58d19d_b8db6a2679ff445db0b669c7a8fa32ce.pdf" target="_blank" rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Inscription Travail du cheval</a>
                    </div>
                    <div id="separator" class="w-full bg-[url('/assets/imgs/prestas/stages/second.jpg')] bg-center bg-cover"></div>
                    <div class="w-full flex flex-row-reverse flex-nowrap snap-end">
                        <div class="w-1/2 bg-cover bg-center bg-[url('/assets/imgs/prestas/stages/soins.jpg')]"></div>
                        <div class="w-1/2 bg-backStage flex flex-col text-center p-5 space-y-5">
                            <div class="space-y-10">
                                <h4 class="text-2xl font-oswald relative tracking-widest">Soins du Cheval</h4>
                                <hr class="w-3/20 border-black border-top-2 mx-auto">
                            </div>
                            <div class="font-playfair flex flex-col space-y-2">
                                <p class="font-oswald font-medium">23 au 27 Février</p>
                                <p>Formation professionnelle :<br>Praticien en bien-être Equin (Avec Emilie Valente)</p>
                                <a href=""rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Inscription</a>
                            </div>
                            <div class="font-playfair flex flex-col space-y-2">
                                <p class="font-oswald font-medium">26/27 Mars</p>
                                <p>Initiation à la podologie Equine (Avec Laurie Fuertes)</p>
                                <a href=""rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Infos et Inscription</a>
                            </div>
                            <div class="font-playfair flex flex-col space-y-2">
                                <p class="font-oswald font-medium">10 Avril</p>
                                <p>Initiation à la Massothérapie (Avec Emilie Valente)</p>
                                <p class="font-oswald font-medium">Date à venir</p>
                                <p>Initiation à l'Algothérapie (Avec Emilie Valente)</p>
                                <a href=""rel="noopener noreferrer" class="bg-citation-bg text-green duration-300 w-max rounded p-2 mx-auto hover:bg-green hover:text-citation-bg hover:font-bold">Infos et Inscription Massage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-5 w-19/20 mx-auto flex flex-col font-playfair text-center text-lg snap-center font-medium">
                    <p>Vous êtes professionnel et vous souhaitez pouvoir proposer ces thèmes à vos cavaliers, propriétaires, clients ?</p>
                    <p>Vous êtes amateurs mais trop loin pour penser nous rejoindre ?</p>
                    <br>
                    <p>Aucun problème !</p>
                    <br>
                    <p>Tous les stages proposés chez nous sont réalisables chez vous. N'hésitez pas  à nous contacter pour plus de renseignements.</p>
                </div>
            </div>
        </div>
    </section>
    <div id="last" class="bg-[url('/assets/imgs/prestas/stages/last.jpg')] bg-center bg-cover bg-fixed"></div>
</main>