<main class="text-white w-full">
    <section class="flex flex-row-reverse items-center w-full h-screen 2xl:h-[80vh] overflow-hidden snap-start bg-cover bg-fixed bg-[url('/assets/imgs/philo/cavalier/first.jpg')] bg-center">
      <div class="border-4 border-dark w-[375px] h-14/20 mx-3/20 shadow-pWork">
        <div class="bg-citation-bg border-white border-2 w-full h-full flex flex-row items-center p-8">
            <h3 class="text-4xl text-green font-oswald font-thin text-center">Le bien-être de nos cavaliers<br>
                <br>
                &<br>
                <br>
                Notre engagement pour l'environnement
            </h3>
        </div>
      </div>
    </section>
    <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom">
      <div class="bg-white/70 w-full min-h-max overflow-y-auto flex flex-col items-center">
        <div class="w-12/20 flex flex-col gap-7 py-10">
            <h3 class="text-3xl font-oswald font-thin">Nous nous occupons d'eux au mieux mais aussi de votre tranquillité d'esprit :</h3>
            <ul class="list-dot text-xl font-playfair flex flex-col gap-5 pl-5">
                <li>Surveillance de la structure 7j/7 et 24h/24.</li>
                <li>Nous nous occupons des petits bobos, du calendrier de vermifugation et de vaccination, de la distribution des compléments passagers, etc... sans supplément sur le prix de la pension.</li>
                <li>Gestion raisonnée des couvertures et des bonnets.</li>
                <li>Un service optionnel capable de gérer les "gros bobos", les traitements lourds ou les rééducations est également à votre disposition.</li>
                <li>Les aires de travail sont entretenues régulièrement afin de garantir un sol de qualité et profitable au travail des chevaux.</li>
                <li>Les installations (parcs, couloirs, douches, aires de pansage, etc.) sont nettoyées de façon quotidienne et régulièrement désinfectées afin de garantir une hygiène irréprochable.</li>
                <li>Nous garantissons une équipe qualifiée et expérimentée, toujours présente sur la structure et à l'écoute des pensionnaires. Elle est tout à fait à même de gérer les tracas du quotidien comme les situations d'urgences</li>
                <li>Nous proposons des compléments minéraux et vitaminiques étudiés spécifiquement d'après notre fourrage.</li>
                <li>Un suivi vétérinaire régulier.</li>
                <li>Ayant quelques connaissances en Médecines Naturelles (homéopathie, aromathérapie, phytothérapie) nous sommes tout à fait à même d'accompagner et de soutenir nos pensionnaires dans la prévention et le traitement des "petits bobos".</li>
                <li>Une ambiance chaleureuse, conviviale et apaisante afin de vous proposer un lieux propice au repos et à la récupération dans lequel il est agréable de passer du temps.</li>
                <li>Nous mettons à votre disposition une équipe de professionnelle de qualité pour le confort et le bien-être de vos chevaux ou du vôtre : Maréchaux, dentistes, Osthéopathes, Vétérinaires, Podologues, Shiatsu équin, Préparation mentale du cavalier..... nous travaillons ensemble pour un accompagnement holistique du couple cheval/cavalier</li>
            </ul>
        </div>
        <div class="w-full flex flex-row flex-wrap gap-2 justify-around">
            <img src="assets/imgs/philo/cavalier/cavalier_1.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_2.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_3.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_4.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_5.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_6.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_7.jpg" alt="">
            <img src="assets/imgs/philo/cavalier/cavalier_8.jpg" alt="">
        </div>
        
        <div class="w-12/20 flex flex-col gap-7 py-10">
            <h3 class="text-3xl font-oswald font-thin">Les écuries et l'écologie, une structure engagée...</h3>
            <p>Bien que l'écologie ne soit pas notre premier cheval de bataille, il nous paraît important d'apporter notre contribution aux enjeux environnementaux. Ainsi, notre structure s'engage sur les points suivants :</p>
            <div class="flex flex-col items-end">
                <ul class="list-dot text-xl font-playfair flex flex-col gap-5 mb-5 pl-5 w-full">
                    <li>Bien que la qualité et le confort des chevaux soit notre premier critère de sélection, nous choisissons toujours des sols de travail demandant peu voir pas du tout d'arrosage afin de limiter notre consommation en eau.</li>
                    <li>Nous produisons nous même les fourrages (foin et paille) qui sont distribués sur l'écurie, et nos tracteurs sont pour la plupart équipés du système Adblue (diminution considérable des gazs d'échappement). De plus,  par notre système alimentaire nous avons énormément réduit notre import en concentré. Ce qui réduit notre empreinte carbone.</li>
                    <li>La totalité du système d'éclairage des installations est petit à petit remplacé par des néons à LED. Ils fournissent un éclairage de qualité, tout en ne consommant que très peu d'électricité.</li>
                </ul>
                <div class="flex flex-row justify-between">
                    <ul class="list-dot text-xl font-playfair flex flex-col gap-5 pl-5 w-11/20">
                        <li>Notre fumier de cheval est mélangé à celui de nos brebis avant d'être composté. Ce mélange de composte est LE SEUL fertilisant utilisé dans nos prairies. Aucun produit chimique (pesticides, engrais chimiques) n'est utilisé.</li>
                        <li>L'entretien des espaces verts se fait en priorité par pastoralisme (brebis) limitant au maximum le passage des machines et interdisant totalement l'utilisation d'herbicides chimiques.</li>
                        <li>La gestion des haies présentes sur le domaine est faite de façon à préserver l'habitat naturel des animaux sauvages (les oiseaux en particulier) tout en garantissant la sécurité de tous. Les écuries sont primées par les aides européennes depuis 2015 sur cette démarche.</li>
                        <li>La totalité du domaine est placé en "réserve de chasse" afin de préserver au mieux la faune sauvage qui y réside.</li>
                    </ul>
                    <img src="assets/imgs/philo/cavalier/cavalier_9.jpg" alt="" class="h-auto w-8/20 float-right">
                </div>
            </div>
        </div>
      </div>
    </section>
</main>