<main class="text-white w-full">
    <section class="flex flex-col justify-around w-full h-middleScreen bg-fixed overflow-hidden bg-cover bg-[url('/assets/imgs/prestas/prod/first.jpg')] bg-center snap-start">
        <div class="bg-citation-bg border-white border-2 p-6 w-5/20 mx-2/20 flex flex-col justify-around gap-5 h-16/20">
            <h3 class="text-2xl text-green font-oswald font-thin tracking-widest text-center">Notre production de fourrage, l'expérience au service de la qualité...</h3>
        </div>
    </section>
    <section class="snap-start text-black bg-wood bg-fixed bg-cover bg-bottom">
        <div class="bg-white/70 w-full snap-end">
            <div class="text-xl font-playfair flex flex-col gap-y-5 w-13/20 mx-auto pt-10 pb-10">
                <p>Producteurs de foin depuis plus d'une décennie, nous avons fait le choix, de ne pas produire notre foin sous le label AOC foin de crau mais nous garantissons la même qualité.</p>
                <p>Nous possédons une grande expérience et avons l'habitude de traiter avec différentes catégories de clients aux besoins très particuliers : élevages laitiers (ovins, bovins, caprins), chevaux de compétitions, de courses et de loisirs, exportation (Malte, Japon, Angleterre,etc.), élevage de taureaux de Camargue, élevage de petits rongeurs (lapins, cochons d'Inde).</p>
                <ul class="pl-4 list-dot flex flex-col gap-y-2" id="prod_list">
                    <label for="prod_list">Nous vous proposons :</label>
                    <li>
                        <span>Le choix de la coupe (selon stock restant après le début de saison ou en pré-commande avant fin mai) :</span>
                        <ul class="pl-4 flex flex-col gap-y-2 list-base">
                            <li>Première coupe : plus fibreuse que les autres mais aussi plus complète. Elle est adaptée aux bovins et aux chevaux. C'est celle que nous utilisons en priorité au sein des écuries.</li>
                            <li>Seconde coupe : Fine et particulièrement odorante, elle est adaptée à tous types d'animaux.</li>
                            <li>Troisième coupe : extrêmement fine et verte, elle contient beaucoup de variétés d'herbes rases et grasses. Elle est très recherchée dans la nutrition des brebis, chèvres et vaches laitières.</li>
                        </ul>
                    </li>
                </ul>
                <div class="flex flex-row justify-between items-stretch">
                    <div class="flex flex-col w-13/20 gap-y-6">
                        <div class="flex flex-col w-full">
                            <p>Format des ballots :</p>
                            <ul class="pl-4 list-base">
                                <li>Balles matelas de 150 kgs</li>
                            </ul>
                            <a>Nous proposons également la livraison et la manutention dans un rayon d'environ 50 km autour de notre exploitation.</a>
                        </div>
                        <div id="tracteur" class="border-white border-2 rounded shadow-prod bg-cover bg-[url('/assets/imgs/prestas/prod/tracteurs.jpg')] bg-center w-12/20 mx-auto"></div>
                    </div>
                    <div id="champ" class="border-white border-2 rounded shadow-prod bg-cover bg-[url('/assets/imgs/prestas/prod/champs.jpg')] bg-center w-6/20"></div>
                </div>
            </div>
        </div>
    </section>
</main>